<template name="dashboard">
	<div class="container">
		<div class="row" id="champion-messages">
			<div class="col-md-3">
				{{> addPostButton}}
				{{> favorites}}
			</div>
			<div class="col-md-9">
				{{> posts}}
			</div>
		</div>
	</div>
</template>

<template name="addPostButton">
	<a href="{{pathFor 'postSubmit'}}" class="btn btn-success">{{_ "add_post_btn"}}</a>
</template>

<template name="postSubmit">
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "add_post"}}</h3>
			</div>
			<div class="panel-body">
				{{#autoForm id="addPost" collection="Posts" type="insert"}}
				{{> afQuickField name="title"}}
				{{> afQuickField name="content"}}
<!--			{{> afQuickField name="picture" remove-label='删除'}}-->
				<div id="geometryField" style="display:none;">{{> afQuickField name="geometry"}}</div>
				
				{{#if addFieldStepIs "firstStep"}}
					<div id="message"> {{_ "findLocationMessage"}} <input type="button" value="{{_ "start"}}" class="btn btn-success btn-sm" id='addFieldStartButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "secondStep"}}
					<div id="message"> {{_ "tapMapMessage"}}</div>
				{{/if}}
				{{#if addFieldStepIs "thirdStep"}}
					<div id="message"> {{_ "tapMapMessage"}} <input type="button" value="{{_ "clear"}}" class="btn btn-default btn-sm" id='addFieldClearButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "fourthStep"}}
					<div id="message"> {{_ "tapOriginalMessage"}} <input type="button" value="{{_ "clear"}}" class="btn btn-default btn-sm" id='addFieldClearButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "fifthStep"}}
					<div id="message"> {{_ "dragPointsMessage"}} <input type="button" value="{{_ "clear"}}" class="btn btn-default btn-sm" id='addFieldClearButton'/> <input type="button" value="{{_ "done"}}" class="btn btn-primary btn-sm" id='addFieldDoneButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "sixthStep"}}
					<div id="message"> {{_ "finishPointsMessage"}}</div>
				{{/if}}

				{{> map}}
				<button type="submit" class="btn btn-primary" style="display:none;" id="submitFarmBtn">{{_ "add_post_btn"}}</button>
				{{/autoForm}}
			</div>
	</div>
</template>

<template name="cropAdd">
	<a href="{{pathFor 'cropEdit'}}" class="btn btn-primary pull-right">{{_ "close"}}</a>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "add"}}{{_ "crops"}}</h3>
			</div>
			<div class="panel-body">
				{{#autoForm id="addCrop" collection="Crops" type="insert"}}
				{{> afQuickField name="crop" options=cropOptions firstOption=SelectOne noselect=true}}
				{{> afQuickField name="year" options=yearOptions firstOption=SelectOne}}
				<div id="farmIdField" style="display:none;">{{> afQuickField name="farmId" value=farmIdValue}}</div>				
				<button type="submit" class="btn btn-primary" id="submitFarmBtn">{{_ "add"}}</button>
				{{/autoForm}}
			</div>
	</div>
</template>

<template name="cropView">
	<a href="{{pathFor 'postPage'}}" class="btn btn-primary pull-right">{{_ "close"}}</a>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "view_post_btn"}}{{_ "crops"}}</h3>
			</div>
			<div class="panel-body">
	          <table class="table table-hover">
	            <thead>
	              <tr>
	                <th>{{_ "crops"}}</th>
	                <th>{{_ "year"}}</th>
	              </tr>
	            </thead>
	            <tbody>
	              {{#each cropsList}}
	                <tr>
	                  <td>{{crop}}</td>
	                  <td>{{year}}</td>
	                </tr>
	              {{/each}}
	            </tbody>
	          </table>
		</div>
	</div>
</template>

<template name="cropEdit">
	<a href="{{pathFor 'postPage'}}" class="btn btn-primary pull-right">{{_ "close"}}</a>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "edit_post_btn"}}{{_ "crops"}}</h3>
			</div>
			<div class="panel-body">
			{{#if isCropsZero}}
	          {{_ "add_crop_message"}}
	        {{else}}
	          <table class="table table-hover">
	            <thead>
	              <tr>
	                <th>{{_ "crops"}}</th>
	                <th>{{_ "year"}}</th>
	                <th>{{_ "delete"}}</th>
	              </tr>
	            </thead>
	            <tbody>
	              {{#each cropsList}}
	                <tr>
	                  <td>{{crop}}</td>
	                  <td>{{year}}</td>
	                  <td>
	                  	{{#afModal formId="deleteCrop" title=deleteCropTitle buttonContent=deleteCropButtonContent class="btn btn-danger btn-sm" collection="Crops" operation="remove" doc=this._id prompt=deleteCropPrompt}}
					  		{{_ "delete"}}
						{{/afModal}}
					</td>
	                </tr>
	              {{/each}}
	            </tbody>
	          </table>
	        {{/if}}
			</div>
			<div class="panel-footer">
				<a href="{{pathFor 'cropAdd'}}" class="btn btn-primary">{{_ "add"}}</a>
			</div>			
	</div>
</template>

<template name="activityAdd">
	<a href="{{pathFor 'activityEdit'}}" class="btn btn-primary pull-right">{{_ "close"}}</a>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "add"}}{{_ "activities"}}</h3>
			</div>
			<div class="panel-body">
				{{#autoForm id="addActivity" collection="Activities" type="insert"}}
				{{> afQuickField name="name" options=nameOptions firstOption=SelectOne}}
				{{> afQuickField name="date"}}
				{{> afQuickField name="cropYear" options=cropYearOptions firstOption=SelectOne}}
				<div id="farmIdField" style="display:none;">{{> afQuickField name="farmId" value=farmIdValue}}</div>				
				<button type="submit" class="btn btn-primary" id="submitFarmBtn">{{_ "add"}}</button>
				{{/autoForm}}
			</div>
	</div>
</template>

<template name="activityView">
	<a href="{{pathFor 'postPage'}}" class="btn btn-primary pull-right">{{_ "close"}}</a>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "view_post_btn"}}{{_ "activities"}}</h3>
			</div>
			<div class="panel-body">
	          <table class="table table-hover">
	            <thead>
	              <tr>
	                <th>{{_ "activities"}}</th>
	                <th>{{_ "date"}}</th>
	                <th>{{_ "crops"}}</th>
	              </tr>
	            </thead>
	            <tbody>
	              {{#each activitiesList}}
	                <tr>
	                  <td>{{name}}</td>
	                  <td>{{formatDate date}}</td>
	                  <td>{{cropYear}}</td>
	                </tr>
	              {{/each}}
	            </tbody>
	          </table>
		</div>
	</div>
</template>

<template name="activityEdit">
	<a href="{{pathFor 'postPage'}}" class="btn btn-primary pull-right">{{_ "close"}}</a>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "edit_post_btn"}}{{_ "activities"}}</h3>
			</div>
			<div class="panel-body">
			{{#if isActivitiesZero}}
	          {{_ "add_activity_message"}}
	        {{else}}
	          <table class="table table-hover">
	            <thead>
	              <tr>
	                <th>{{_ "activities"}}</th>
	                <th>{{_ "date"}}</th>
	                <th>{{_ "crops"}}</th>
	                <th>{{_ "delete"}}</th>
	              </tr>
	            </thead>
	            <tbody>
	              {{#each activitiesList}}
	                <tr>
	                  <td>{{name}}</td>
	                  <td>{{formatDate date}}</td>
	                  <td>{{cropYear}}</td>
	                  <td>
	                  	{{#afModal formId="deleteActivity" title=deleteActivityTitle buttonContent=deleteActivityButtonContent class="btn btn-danger btn-sm" collection="Activities" operation="remove" doc=this._id prompt=deleteActivityPrompt}}
					  		{{_ "delete"}}
						{{/afModal}}
					</td>
	                </tr>
	              {{/each}}
	            </tbody>
	          </table>
	        {{/if}}
			</div>
			<div class="panel-footer">
				<a href="{{pathFor 'activityAdd'}}" class="btn btn-primary">{{_ "add"}}</a>
			</div>			
	</div>
</template>

<template name="yieldAdd">
	<a href="{{pathFor 'yieldEdit'}}" class="btn btn-primary pull-right">{{_ "close"}}</a>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "add"}}{{_ "yields"}}</h3>
			</div>
			<div class="panel-body">
				{{#autoForm id="addYield" collection="Yields" type="insert"}}
				{{> afQuickField name="cropYear" options=cropYearOptions firstOption=SelectOne}}
				{{> afQuickField name="yields"}}
				<div id="farmIdField" style="display:none;">{{> afQuickField name="farmId" value=farmIdValue}}</div>				
				<button type="submit" class="btn btn-primary" id="submitFarmBtn">{{_ "add"}}</button>
				{{/autoForm}}
			</div>
	</div>
</template>

<template name="yieldView">
	<a href="{{pathFor 'postPage'}}" class="btn btn-primary pull-right">{{_ "close"}}</a>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "view_post_btn"}}{{_ "yields"}}</h3>
			</div>
			<div class="panel-body">
	          <table class="table table-hover">
	            <thead>
	              <tr>
	                <th>{{_ "crops"}}</th>
	                <th>{{_ "yields"}} ({{_ "kg"}})</th>
	              </tr>
	            </thead>
	            <tbody>
	              {{#each yieldsList}}
	                <tr>
	                  <td>{{cropYear}}</td>
	                  <td>{{yields}}</td>
	                </tr>
	              {{/each}}
	            </tbody>
	          </table>
		</div>
	</div>
</template>

<template name="yieldEdit">
	<a href="{{pathFor 'postPage'}}" class="btn btn-primary pull-right">{{_ "close"}}</a>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "edit_post_btn"}}{{_ "yields"}}</h3>
			</div>
			<div class="panel-body">
			{{#if isYieldsZero}}
	          {{_ "add_yield_message"}}
	        {{else}}
	          <table class="table table-hover">
	            <thead>
	              <tr>
	                <th>{{_ "crops"}}</th>
	                <th>{{_ "yields"}} ({{_ "kg"}})</th>
	                <th>{{_ "delete"}}</th>
	              </tr>
	            </thead>
	            <tbody>
	              {{#each yieldsList}}
	                <tr>
	                  <td>{{cropYear}}</td>
	                  <td>{{yields}}</td>
	                  <td>
	                  	{{#afModal formId="deleteYield" title=deleteYieldTitle buttonContent=deleteYieldButtonContent class="btn btn-danger btn-sm" collection="Yields" operation="remove" doc=this._id prompt=deleteYieldPrompt}}
					  		{{_ "delete"}}
						{{/afModal}}
					</td>
	                </tr>
	              {{/each}}
	            </tbody>
	          </table>
	        {{/if}}
			</div>
			<div class="panel-footer">
				<a href="{{pathFor 'yieldAdd'}}" class="btn btn-primary">{{_ "add"}}</a>
			</div>			
	</div>
</template>


<template name="map">
    <div id="{{divID}}" class="map"></div>
</template>

<template name="addWithModal">
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "add_post_modal"}}</h3>
			</div>
			<div class="panel-body">
				<a href="#afModal" data-toggle="modal" class="btn btn-primary" collection="Posts" operation="insert" fields="title,content,picture">{{_ "add_post_modal_btn"}}</a>
			</div>
	</div>
</template>

<template name="postEdit">
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "edit_post_btn"}}</h3>
			</div>
			<div class="panel-body">
				{{#autoForm id="editPost" collection="Posts" type="update" doc=this}}
				{{> afQuickField name="title"}}
				{{> afQuickField name="content"}}
<!--			{{> afQuickField name="picture" remove-label='删除'}}-->
				<div id="geometryField" style="display:none;">{{> afQuickField name="geometry"}}</div>
				{{#if addFieldStepIs "firstStep"}}
					<div id="message"> {{_ "findLocationMessage"}} <input type="button" value="{{_ "start"}}" class="btn btn-success btn-sm" id='addFieldStartButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "secondStep"}}
					<div id="message"> {{_ "tapMapMessage"}}</div>
				{{/if}}
				{{#if addFieldStepIs "thirdStep"}}
					<div id="message"> {{_ "tapMapMessage"}} <input type="button" value="{{_ "clear"}}" class="btn btn-default btn-sm" id='addFieldClearButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "fourthStep"}}
					<div id="message"> {{_ "tapOriginalMessage"}} <input type="button" value="{{_ "clear"}}" class="btn btn-default btn-sm" id='addFieldClearButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "fifthStep"}}
					<div id="message"> {{_ "dragPointsMessage"}} <input type="button" value="{{_ "clear"}}" class="btn btn-default btn-sm" id='addFieldClearButton'/> <input type="button" value="{{_ "done"}}" class="btn btn-primary btn-sm" id='addFieldDoneButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "sixthStep"}}
					<div id="message"> {{_ "finishPointsMessage"}}</div>
				{{/if}}

				{{> map}}
				<button type="submit" class="btn btn-primary" style="display:none;" id="submitFarmBtn">{{_ "save"}}</button>
				{{/autoForm}}
			</div>
	</div>
</template>

<template name="postPage">
	<h3>{{_ "farmName"}}: {{title}}</h3> {{_ "farmArea"}}: {{calculateArea geometry}} {{_ "hectares"}}
	{{#if $eq owner User._id}}
		<a href="{{pathFor 'postEdit'}}" class="btn btn-primary pull-right">{{_ "edit_post_btn"}}</a>
	{{/if}}
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "temperature"}}
				</h3>
			</div>
			<div class="panel-body">
				{{_ "realtime"}}: 15°C <input type="submit" value="{{_ "hours36"}}" class="btn btn-success btn-sm"/> 
				<input type="submit" value="{{_ "days3"}}" class="btn btn-success btn-sm"/>
				<input type="submit" value="{{_ "growingSeason"}}" class="btn btn-success btn-sm"/> 
				<input type="submit" value="{{_ "nextSeason"}}" class="btn btn-success btn-sm"/>
			</div>
	</div>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "precipitation"}}
				</h3>
			</div>
			<div class="panel-body">
				{{_ "realtime"}}: 15°C <input type="submit" value="{{_ "hours36"}}" class="btn btn-success btn-sm"/> 
				<input type="submit" value="{{_ "days3"}}" class="btn btn-success btn-sm"/>
				<input type="submit" value="{{_ "growingSeason"}}" class="btn btn-success btn-sm"/> 
				<input type="submit" value="{{_ "nextSeason"}}" class="btn btn-success btn-sm"/>
			</div>
	</div>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "soil"}}
				</h3>
			</div>
			<div class="panel-body">
				{{_ "realtime"}}: 15°C <input type="button" value="{{_ "hours36"}}" class="btn btn-success btn-sm"/> 
				<input type="button" value="{{_ "days3"}}" class="btn btn-success btn-sm"/>
				<input type="button" value="{{_ "growingSeason"}}" class="btn btn-success btn-sm"/> 
				<input type="button" value="{{_ "nextSeason"}}" class="btn btn-success btn-sm"/>
			</div>
	</div>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "crops"}}
				</h3>
			</div>
			<div class="panel-body">
			{{#if isCropsZero}}
	          {{_ "no_crop_message"}}
	        {{else}}
	           {{_ "in_most_recent_year_of"}} {{cropsListInMostRecentYear.year}} {{_ "this_farm_has_following_crops"}} <strong>{{cropsListInMostRecentYear.crop}}</strong>{{_ "view_crop_message"}}
	        {{/if}}
			</div>
			<div class="panel-footer">
				{{#if isCropsZero}}
				{{else}}
				<a href="{{pathFor 'cropView'}}" class="btn btn-success btn-sm">{{_ "view_post_btn"}}</a>
				{{/if}}
				<a href="{{pathFor 'cropEdit'}}" class="btn btn-primary btn-sm">{{_ "edit_post_btn"}}</a>
			</div>
	</div>
	{{#if isCropsZero}}
    {{else}}
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "activities"}}
				</h3>
			</div>
			<div class="panel-body">
			{{#if isActivitiesZero}}
	          {{_ "no_activities_message"}}
	        {{else}}
	           {{recent_activities_message}}
	        {{/if}}
			</div>
			<div class="panel-footer">
				{{#if isActivitiesZero}}
				{{else}}
				<a href="{{pathFor 'activityView'}}" class="btn btn-success btn-sm">{{_ "view_post_btn"}}</a>
				{{/if}}
				<a href="{{pathFor 'activityEdit'}}" class="btn btn-primary btn-sm">{{_ "edit_post_btn"}}</a>
			</div>
	</div>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "yields"}}
				</h3>
			</div>
			<div class="panel-body">
			{{#if isYieldsZero}}
	          {{_ "no_yields_message"}}
	        {{else}}
	          {{_ "recent_yields_message"}}
	          <table class="table table-hover">
	            <thead>
	              <tr>
	                <th>{{_ "crops"}}</th>
	                <th>{{_ "yields"}} ({{_ "kg"}})</th>
	              </tr>
	            </thead>
	            <tbody>
	              {{#each recentYields}}
	                <tr>
	                  <td>{{cropYear}}</td>
	                  <td>{{yields}}</td>
	                </tr>
	              {{/each}}
	            </tbody>
	          </table>
	        {{/if}}
			</div>
			<div class="panel-footer">
				{{#if isYieldsZero}}
				{{else}}
				<a href="{{pathFor 'yieldView'}}" class="btn btn-success btn-sm">{{_ "view_post_btn"}}</a>
				{{/if}}
				<a href="{{pathFor 'yieldEdit'}}" class="btn btn-primary btn-sm">{{_ "edit_post_btn"}}</a>
			</div>
	</div>
    {{/if}}

</template>
<template name="posts">
	{{#if isPostsZero}}
    	<p class="text-left">{{_ "no_post_message"}}</p>
    {{else}}
		{{#each orderByFavorites Posts}}
			<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{_ "farmName"}}: {{title}} {{_ "farmArea"}}: {{calculateArea geometry}} {{_ "hectares"}}
							<!--<span class="pull-right">
								<i class="fa fa-thumbs-up"></i> {{favoriteCount _id}}
								<i class="fa fa-comments"></i> {{commentCount _id}}
							</span>-->
						</h3>
					</div>
					<div class="panel-body">
						<p class="text-center"><a href="{{pathFor 'postPage'}}">{{_ "view_post_btn"}}</a></p>
						<!--
						<p class="text-center">
							{{#with getDoc picture 'Attachments'}}
								<img src="{{url}}" class="img-thumbnail img-rounded">
							{{/with}}
						</p>
						<div class="media">
							<a class="pull-left" href="#">
								{{> profileThumb _id=owner}}
							</a>
							<div class="media-body">
								<p>{{content}}</p>
								{{#if $eq owner User._id}}
								<small>
									{{#afModal title="Update post" omitFields="createdAt,updatedAt,owner" class="text-primary" collection="Posts" operation="update" doc=_id}}
										<i class="fa fa-pencil" buttonContent="Edit post"></i> {{_ "edit_post"}}
									{{/afModal}}
									{{#afModal title="删除农场" buttonContent="删除" class="text-danger" collection="Posts" operation="remove" doc=_id prompt="你确定要删除本农场？" }}
										<i class="fa fa-times" buttonContent="Edit post"></i> {{_ "delete"}}
									{{/afModal}}
								</small>
								{{/if}}
							</div>
						</div>-->
						{{#if $eq owner User._id}}
							{{#afModal formId="deletePost" title=deletePostTitle buttonContent=deletePostButtonContent class="btn btn-danger btn-sm pull-right" collection="Posts" operation="remove" doc=this._id prompt=deletePostPrompt}}
							  {{_ "delete"}}
							{{/afModal}}
						{{/if}}
					</div>
					<div class="panel-footer">
						<!--{{> favoriteButton _id=_id}}
						{{> commentFormToggle }}
						{{> comments}}-->
					</div>
			</div>
		{{/each}}
	{{/if}}
</template>

<template name="favorites">
	{{#if Favorites 'Posts'}}
	<div class="panel panel-default">
		<div class="panel-heading">
				<h3 class="panel-title">F{{_ "favorites"}}</h3>
		</div>
		<div class="panel-body">
			<ul>
			{{#each Favorites 'Posts'}}
				<li>
					<a>{{title}}</a>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	{{/if}}
</template>