<template name="dashboard">
	<div class="container">
		<div class="row" id="champion-messages">
			<div class="col-md-3">
				{{> addPostButton}}
				{{> favorites}}
			</div>
			<div class="col-md-9">
				{{> posts}}
			</div>
		</div>
	</div>
</template>

<template name="addPostButton">
	<a href="{{pathFor 'postSubmit'}}">{{_ "add_post_btn"}}</a>
</template>

<template name="postSubmit">
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "add_post"}}</h3>
			</div>
			<div class="panel-body">
				{{#autoForm id="add" collection="Posts" type="insert"}}
				{{> afQuickField name="title"}}
				{{> afQuickField name="content"}}
				{{> afQuickField name="picture" remove-label='删除'}}
				<div id="geometryField" style="display:none;">{{> afQuickField name="geometry"}}</div>
				
				{{#if addFieldStepIs "firstStep"}}
					<div id="message"> {{_ "findLocationMessage"}} <input type="button" value="{{_ "start"}}" class="btn btn-success btn-sm" id='addFieldStartButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "secondStep"}}
					<div id="message"> {{_ "tapMapMessage"}}</div>
				{{/if}}
				{{#if addFieldStepIs "thirdStep"}}
					<div id="message"> {{_ "tapMapMessage"}} <input type="button" value="{{_ "clear"}}" class="btn btn-default btn-sm" id='addFieldClearButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "fourthStep"}}
					<div id="message"> {{_ "tapOriginalMessage"}} <input type="button" value="{{_ "clear"}}" class="btn btn-default btn-sm" id='addFieldClearButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "fifthStep"}}
					<div id="message"> {{_ "dragPointsMessage"}} <input type="button" value="{{_ "clear"}}" class="btn btn-default btn-sm" id='addFieldClearButton'/> <input type="button" value="{{_ "done"}}" class="btn btn-primary btn-sm" id='addFieldDoneButton'/></div>
				{{/if}}
				{{#if addFieldStepIs "sixthStep"}}
					<div id="message"> {{_ "finishPointsMessage"}}</div>
				{{/if}}

    			{{> map}}
				<button type="submit" class="btn btn-primary" style="display:none;" id="submitFarmBtn">{{_ "add_post_btn"}}</button>
				{{/autoForm}}
			</div>
	</div>
</template>

<template name="map">
    <div id="{{divID}}" class="map"></div>
</template>

<template name="addWithModal">
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{_ "add_post_modal"}}</h3>
			</div>
			<div class="panel-body">
				<a href="#afModal" data-toggle="modal" class="btn btn-primary" collection="Posts" operation="insert" fields="title,content,picture">{{_ "add_post_modal_btn"}}</a>
			</div>
	</div>
</template>

<template name="posts">
	{{#if isPostsZero}}
    	<p class="text-left">{{_ "no_post_message"}}</p>
    {{else}}
		{{#each orderByFavorites Posts}}
			<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{title}}
							<span class="pull-right">
								<i class="fa fa-thumbs-up"></i> {{favoriteCount _id}}
								<i class="fa fa-comments"></i> {{commentCount _id}}
							</span>
						</h3>
					</div>
					<div class="panel-body">
						<p class="text-center">
							{{#with getDoc picture 'Attachments'}}
								<img src="{{url}}" class="img-thumbnail img-rounded">
							{{/with}}
						</p>
						<div class="media">
							<a class="pull-left" href="#">
								{{> profileThumb _id=owner}}
							</a>
							<div class="media-body">
								<p>{{content}}</p>
								{{#if $eq owner User._id}}
								<small>
									{{#afModal title="Update post" omitFields="createdAt,updatedAt,owner" class="text-primary" collection="Posts" operation="update" doc=_id}}
										<i class="fa fa-pencil" buttonContent="Edit post"></i> {{_ "edit_post"}}
									{{/afModal}}
									{{#afModal title="Delete post" class="text-danger" collection="Posts" operation="remove" doc=_id}}
										<i class="fa fa-times" buttonContent="Edit post"></i> {{_ "delete"}}
									{{/afModal}}
								</small>
								{{/if}}
							</div>
						</div>
					</div>
					<div class="panel-footer">
						{{> favoriteButton _id=_id}}
						{{> commentFormToggle }}
						{{> comments}}
					</div>
			</div>
		{{/each}}
	{{/if}}
</template>

<template name="favorites">
	{{#if Favorites 'Posts'}}
	<div class="panel panel-default">
		<div class="panel-heading">
				<h3 class="panel-title">F{{_ "favorites"}}</h3>
		</div>
		<div class="panel-body">
			<ul>
			{{#each Favorites 'Posts'}}
				<li>
					<a>{{title}}</a>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	{{/if}}
</template>